@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Pretendard, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
li,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  font-family: Pretendard, sans-serif;
}

p {
  line-height: 1.8rem;
  word-break: keep-all;
}

img {
  object-fit: cover;
}
