.introduction {
  margin-top: 1rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 0 7rem;
}

.row section {
  margin-top: 0;
}

.row h3 {
  font-size: 1.5rem;
}

@media screen and (max-width: 1050px) {
  .row {
    display: block;
  }
}
