html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
li,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
}

main {
  background-color: white;
  flex-grow: 1;
  padding: 3rem;
  margin-left: 20rem;
  min-height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 5rem 0;
}

p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  word-break: keep-all;
}

@font-face {
  font-family: "Sail";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Sail-Regular.ttf") format("truetype");
}

::-webkit-scrollbar {
  width: 5px; /* 세로축 스크롤바 길이 */
  height: 5px; /* 가로축 스크롤바 길이 */
}
::-webkit-scrollbar-track {
  background-color: lightblue;
}
::-webkit-scrollbar-track-piece {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: lightgray;
}
