.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1,
.main p {
  margin-bottom: 2rem;
}

.motto {
  text-align: center;
  font-style: italic;
}

.content {
  text-align: center;
  font-size: 23px;
  border-radius: 10px;
  padding: 2rem;
}

.buttonBox {
  display: flex;
  align-items: center;
  position: relative;
  left: -25px;
}
.buttonBox button {
  margin: 0 0.5rem;
}
